Repository bounswe/bounswe2020group2, pull requests merged in 2020-12, with the labels that each got.

#208 [FRONTEND] Remove vendor from search panel
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/src/components/search/SearchSidePanel.js
Labels: type: front-end

#209 [ANDROID] Necessary navigations
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcatHorizontalAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_category.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_horizontalsubs.xml
  ecommerce/android/Getflix/app/src/main/res/menu/nav_menu.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: medium, priority: medium, type: android

#210 [FRONTEND] Change header design
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/HomePage.less
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/search/SearchInputWrapper.js
Labels: design, effort: medium, priority: medium, type: front-end

#219 [FRONTEND] Darker primary color, change splash logo
  ecommerce/frontend/craco.config.js
  ecommerce/frontend/src/assets/logo.old.png
  ecommerce/frontend/src/assets/logo.png
  ecommerce/frontend/src/common.less
Labels: design, effort: low, priority: low, type: front-end

#212 [ANDROID] Product Endpoints & Switch Language Button
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/productDetailActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/APIService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/DefaultResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/LoginAPI.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/ProductsAPI.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable-v24/circle.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
Labels: effort: high, priority: high, type: android

#223 [FRONTEND] Create creditCardList component for checkout page
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/checkout/CardModalInner.js
  ecommerce/frontend/src/components/checkout/CreditCard.js
  ecommerce/frontend/src/components/checkout/CreditCard.less
  ecommerce/frontend/src/components/checkout/CreditCardList.js
  ecommerce/frontend/src/components/checkout/CreditCardList.less
  ecommerce/frontend/src/components/checkout/CreditCardModal.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/CheckoutPage.js
  ecommerce/frontend/src/utils.js
Labels: type: front-end

#224 [ANDROID] Register View Model & Request for sign up endpoint
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SignUpCredentials.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SignUpResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/RegisterViewModel.kt
Labels: effort: high, priority: high, type: android

#226 [ANDROID] subcategory
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcatHorizontalAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/SubCategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
Labels: effort: medium, priority: high

#236 [BACKEND] Review (Comment & Rating) Endpoints
  ecommerce/backend/API/migrations/0008_auto_20201212_1434.py
  ecommerce/backend/API/migrations/0009_auto_20201212_1440.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/interactions.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/account_serializer.py
  ecommerce/backend/API/serializers/review_serializer.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_account.py
  ecommerce/backend/API/tests/test_add_shopping_cart.py
  ecommerce/backend/API/tests/test_list_shopping_cart.py
  ecommerce/backend/API/tests/test_review.py
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/order_status.py
  ecommerce/backend/API/utils/review_permissions.py
  ecommerce/backend/API/utils/validators.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/review.py
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
Labels: type: back-end

#238 B checkout summary
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/checkout_product_serializer.py
  ecommerce/backend/API/serializers/checkout_shopping_cart_serializer.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/checkout.py
  ecommerce/backend/API/views/shopping_cart.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: medium, type: back-end

#227 [FRONTEND] Add product header in product page
  ecommerce/frontend/src/components/ChooseListModalInner.js
  ecommerce/frontend/src/components/ChooseListModalInner.less
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ProductPage.less
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/product/ProductExtra.js
  ecommerce/frontend/src/components/product/ProductExtra.less
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/components/product/ProductHeader.less
  ecommerce/frontend/src/components/product/ProductImageGallery.js
  ecommerce/frontend/src/components/product/ProductImageGallery.less
  ecommerce/frontend/src/utils.js
Labels: effort: high, priority: high, type: front-end

#242 [ANDROID] Filter/Sort Options & Refactoring
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CardProRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CardProResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/PModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SubcategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/LogReq.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CartAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/FavoritesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ProductAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcatHorizontalAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FilterOptionsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/SubCategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_close_button.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_filter.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_filter_options.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: high, type: android

#246 [ANDROID] Profile info
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/BankAccountFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderInfoFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/UserInfoFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/button_image.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_arrow_forward_ios_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_attach_money_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_location_on_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_person_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_shopping_bag_24.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_adddress.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_order_info.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_profile.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_user_info.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: medium, priority: critical

#247 [ANDROID] Necessary Alert Functions & Fragment Animations
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/anim/enter_left_to_right.xml
  ecommerce/android/Getflix/app/src/main/res/anim/enter_right_to_left.xml
  ecommerce/android/Getflix/app/src/main/res/anim/exit_left_to_right.xml
  ecommerce/android/Getflix/app/src/main/res/anim/exit_right_to_left.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_check.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_info.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_warning.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: medium, priority: medium, type: android

#228 ANDROID]-Implement-Product-Page-Layout
  ecommerce/android/Getflix/.idea/render.experimental.xml
  ecommerce/android/Getflix/app/src/main/res/layout/product_page.xml
Labels: design, effort: medium, priority: medium, status: needs review, type: android

#244 [ANDROID] Payment
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FilterOptionsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/PaymentFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/button.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_check_24.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_cart.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_payment.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#265 [BACKEND] Vendor Product Endpoints and Signup
  ecommerce/backend/API/migrations/0013_image.py
  ecommerce/backend/API/migrations/0014_auto_20201219_1446.py
  ecommerce/backend/API/migrations/0015_auto_20201219_1500.py
  ecommerce/backend/API/migrations/0016_auto_20201219_1542.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/images.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/serializers/account_serializer.py
  ecommerce/backend/API/serializers/product_serializer.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_account.py
  ecommerce/backend/API/tests/test_vendor_product.py
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/image_renderer.py
  ecommerce/backend/API/utils/validators.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/API/views/product.py
  ecommerce/backend/getflix/urls.py
Labels: priority: medium, type: back-end

#221 [FRONTEND] F product card improvements
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/utils.js
Labels: design, effort: medium, priority: medium, type: front-end

#279 Changed the database a bit and created vendor/order
  ecommerce/backend/API/migrations/0013_auto_20201220_2319.py
  ecommerce/backend/API/migrations/0018_merge_20201221_1032.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/purchase.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_order.py
  ecommerce/backend/API/tests/test_review.py
  ecommerce/backend/API/utils/review_permissions.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/order.py
  ecommerce/backend/getflix/urls.py
Labels: type: back-end

#257 [FRONTEND] setup mock library and change some useEffects
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/public/mockServiceWorker.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/index.js
  ecommerce/frontend/src/mocks/browser.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
Labels: effort: medium

#281 [FRONTEND] F shopping cart update
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItems.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartPage.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/context/AppContext.js
Labels: bug, effort: high, priority: high, status: needs review, type: front-end

#277 [ANDROID] Creating Complete Order Fragment
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CardModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/AddressAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CreditCartsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddAddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/BankAccountFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/PaymentFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/AddressViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CreditCartViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_add_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_credit_card_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_home_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/selector.xml
  ecommerce/android/Getflix/app/src/main/res/layout/address_card_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/credit_card_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_add_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_order.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_payment.xml
  ecommerce/android/Getflix/app/src/main/res/layout/simple_spinner_dropdown_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: high, type: android

#272 [ANDROID] Creating Address Fragment
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddAddressFragment.kt
Labels: effort: medium, priority: high, type: android

#276 [ANDROID] Creating CreditCard Fragment
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/AddressAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CreditCartsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddAddressFragment.kt
Labels: effort: high, priority: critical, type: android

#230 [FRONTEND] User Reviews
  ecommerce/frontend/.env.development
  ecommerce/frontend/src/components/UserReview/UserReview.js
  ecommerce/frontend/src/components/UserReview/UserReview.less
  ecommerce/frontend/src/components/UserReview/UserReviews.js
  ecommerce/frontend/src/components/UserReview/UserReviews.less
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ProductPage.less
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  package-lock.json
Labels: design, effort: medium, priority: medium, type: front-end

#271 [ANDROID] Categories Endpoint & Remember Me Checkbox & First Part of Google Sign-in
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/google-services.json
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CategoryListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_register.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/build.gradle
Labels: effort: high, priority: high, type: android

#283 [ANDROID] User Information & Profile Page
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/BankAccountFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderInfoFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_credit_card.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_email.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_lock.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_order.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_user.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_username.xml
  ecommerce/android/Getflix/app/src/main/res/font/open_sans_condensed_bold.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_profile.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/transition/fade.xml
  ecommerce/android/Getflix/app/src/main/res/transition/slide_right.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/preloaded_fonts.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: medium, type: android

#291 [BACKEND] B checkout payment order
  ecommerce/backend/API/migrations/0019_order_card.py
  ecommerce/backend/API/models/purchase.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/product_serializer.py
  ecommerce/backend/API/serializers/purchase_serializer.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_checkout.py
  ecommerce/backend/API/tests/test_checkout_summary.py
  ecommerce/backend/API/tests/test_order.py
  ecommerce/backend/API/views/checkout.py
  ecommerce/backend/API/views/order.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: medium, status: needs review, type: back-end

#280 [ANDROID] Vendor Pages & Loading Animation
  ecommerce/android/Getflix/.idea/codeStyles/Project.xml
  ecommerce/android/Getflix/.idea/codeStyles/codeStyleConfig.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/OrderModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorOrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/MessagesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorHomeFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorOrdersFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/MessagesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/RegisterViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorHomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorOrdersViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorProfileViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/gradientbackground.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_message.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_vendor.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/menu_orders.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/register_gradient.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_messages.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_orders.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_profile.xml
  ecommerce/android/Getflix/app/src/main/res/layout/progress.xml
  ecommerce/android/Getflix/app/src/main/res/layout/vendororder_layout.xml
  ecommerce/android/Getflix/app/src/main/res/menu/nav_vendor_menu.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: high, type: android

#239 [FRONTEND] Implement AddressList component in the payment page
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartPage.js
  ecommerce/frontend/src/components/addresslist/AddressCard.js
  ecommerce/frontend/src/components/addresslist/AddressCard.less
  ecommerce/frontend/src/components/addresslist/AddressList.js
  ecommerce/frontend/src/components/addresslist/AddressList.less
  ecommerce/frontend/src/components/addresslist/AddressModal.js
  ecommerce/frontend/src/components/addresslist/AddressModalInner.js
  ecommerce/frontend/src/components/cardlist/CardModalInner.js
  ecommerce/frontend/src/components/cardlist/CreditCard.js
  ecommerce/frontend/src/components/cardlist/CreditCard.less
  ecommerce/frontend/src/components/cardlist/CreditCardList.js
  ecommerce/frontend/src/components/cardlist/CreditCardList.less
  ecommerce/frontend/src/components/cardlist/CreditCardModal.js
  ecommerce/frontend/src/components/pages/CheckoutPage.js
  ecommerce/frontend/src/components/pages/CheckoutPage.less
Labels: effort: high, type: front-end

#298 [FRONTEND] Refactor init, categories, search, product card, login, signup, routes, mocks...
  ecommerce/frontend/src/App.js
  ecommerce/frontend/src/App.less
  ecommerce/frontend/src/api.js
  ecommerce/frontend/src/components/CategoryBar.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.js
  ecommerce/frontend/src/components/TrendingGrid.js
  ecommerce/frontend/src/components/UpdateProfileForm.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/LoginPage.js
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/pages/SignupPage.js
  ecommerce/frontend/src/components/product/ProductExtra.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/components/search/SearchSidePanel.js
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
Labels: bug, effort: medium, priority: high, type: bug, type: front-end

#302 [BACKEND] Search Endpoints
  ecommerce/backend/API/serializers/search_serializer.py
  ecommerce/backend/API/serializers/vendor_serializer.py
  ecommerce/backend/API/tests/test_search.py
  ecommerce/backend/API/views/search.py
  ecommerce/backend/getflix/urls.py
Labels: effort: high, priority: high, status: in progress, type: back-end

#282 [ANDROID] Product Fragment & Product View Model & The design of Product Layout
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CommentAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ImageAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/RecommenderAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/button_background.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/circle_background.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_add.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_add_to_cart.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_black_cart.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_chat.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_credit_card.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_filled_comment.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_filled_like.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_filled_star.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_info.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_like.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_minus.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_shopping_bag.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_star.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/recommended_product_background.xml
  ecommerce/android/Getflix/app/src/main/res/font/krona_one.xml
  ecommerce/android/Getflix/app/src/main/res/font/open_sans_bold.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_splash_screen.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_comment.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_image.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_recommended_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/favproduct_layout.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/product_card.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/transition/slide_in.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/colors.xml
  ecommerce/android/Getflix/app/src/main/res/values/preloaded_fonts.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, status: needs review, type: android

#310 [ANDROID] Connecting Remaining Endpoints for Cart/Address & Design Improvements
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CardModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ExpirationDateModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/CardUpdateRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/AddressAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CreditCartsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddAddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddCreditCardFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/BankAccountFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/PaymentFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/UpdateAddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/UpdateCreditCardFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/AddressViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CreditCardViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CreditCartViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/address_card_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/credit_card_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_add_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_add_credit_card.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_payment.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_update_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_update_credit_card.xml
  ecommerce/android/Getflix/app/src/main/res/layout/progress.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
  ecommerce/android/Getflix/build.gradle
Labels: effort: high, priority: high, status: needs review, type: android

#308 [FRONTEND] Post Product Review
  ecommerce/frontend/src/components/UserReview/UserReviewPost.js
  ecommerce/frontend/src/components/UserReview/UserReviewPost.less
  ecommerce/frontend/src/components/addresslist/AddressCard.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/CheckoutPage.js
Labels: design, effort: medium, priority: medium, status: needs review, type: front-end

#289 [BACKEND] B-email-verification
  .github/workflows/deploy-backend.yml
  .vscode/settings.json
  backend_build_prep.sh
  copy_backend_secrets.sh
  ecommerce/backend/.gitignore
  ecommerce/backend/API/templates/acc_active_email.html
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/authentication.py
  ecommerce/backend/API/utils/jwttoken.py
  ecommerce/backend/API/utils/verify_email.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/API/views/verify.py
  ecommerce/backend/Dockerfile
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
  ecommerce/backend/requirements.txt
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/src/components/EmailVerification.js
  ecommerce/frontend/src/components/EmailVerification.less
  ecommerce/frontend/src/components/IsVerifiedNotification.js
  ecommerce/frontend/src/components/addresslist/AddressCard.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/CheckoutPage.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/profile/ProfileDetails.js
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  secrets/CMPE451.pem.gpg
  secrets/backend.env.production.gpg
  secrets/slack_webhook.txt.gpg
Labels: design, effort: high, priority: high, status: needs review, type: back-end

#318 [ANDROID] Search and Order Endpoints
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CustomerOrderListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/OrderModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/OrderPurchasedModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/PaginationModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SearchDataModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ProSearchBySubcategoryRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/ProSearchBySubcategoryResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorOrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorOrdersFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/SubCategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/vendororder_layout.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
Labels: effort: medium, priority: critical, type: android

#320 [BACKEND] Refactoring and commenting the Address endpoint
  ecommerce/backend/API/serializers/address_serializer.py
  ecommerce/backend/API/tests/test_address.py
  ecommerce/backend/API/views/address.py
Labels: documentation, effort: medium, priority: medium, status: in progress, type: back-end, type: enhancement, who: individual

#315 [ANDROID] Horizontal Card View Design
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/roundedbutton.xml
  ecommerce/android/Getflix/app/src/main/res/layout/product_card.xml
Labels: design, effort: medium, priority: high, type: android

#325 [BACKEND] Test Bug Fix
  .vscode/settings.json
  ecommerce/backend/API/tests/test_account.py
  ecommerce/backend/API/tests/test_address.py
  ecommerce/backend/API/tests/test_card.py
  ecommerce/backend/API/tests/test_review.py
  ecommerce/backend/API/tests/test_shopping_cart_item.py
  ecommerce/backend/API/views/__init__.py
Labels: bug, effort: medium, priority: high, type: back-end

#327 [ANDROID] OrderFragment with its view model and layout
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/AddressAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CreditCardAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderAddressAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CompleteOrderFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CompleteOrderViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/address_back.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_gold_add.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_home_address.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_order_card.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ripple_effect_outlined.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_credit_card.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_complete_order.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: bug, design, effort: high, priority: high, status: completed, type: android, type: bug

#328 [ANDROID] Connecting Cart Fragment to All Related Endpoint Functions
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CartAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SwipeToDeleteCartProduct.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/AddressViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CartViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_cart.xml
Labels: effort: medium, priority: critical, type: android

#332 [ANDROID] Vertical Card View
  ecommerce/android/Getflix/app/src/main/res/drawable/button_circle.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_product.xml
Labels: design, effort: medium, priority: high, type: android

#312 [FRONTEND] Orders list for Customer
  ecommerce/frontend/.env.development
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/Order.js
  ecommerce/frontend/src/components/Order.less
  ecommerce/frontend/src/components/OrdersList.js
  ecommerce/frontend/src/components/OrdersList.less
  ecommerce/frontend/src/components/Purchase.js
  ecommerce/frontend/src/components/Purchase.less
  ecommerce/frontend/src/components/UserReview/UserReviewPost.js
  ecommerce/frontend/src/components/UserReview/UserReviewPost.less
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
Labels: design, effort: high, priority: critical, type: front-end, type: research

#336 [BACKEND] Refactoring and commenting the Card endpoint
  ecommerce/backend/API/serializers/card_serializer.py
  ecommerce/backend/API/tests/test_address.py
  ecommerce/backend/API/tests/test_card.py
  ecommerce/backend/API/views/address.py
  ecommerce/backend/API/views/card.py
Labels: documentation, effort: medium, priority: high, status: in progress, type: back-end, who: individual

#305 [FRONTEND] Best Sellers Component in Product Page
  ecommerce/frontend/src/components/HorizontalProductList.js
  ecommerce/frontend/src/components/HorizontalProductList.less
  ecommerce/frontend/src/components/UserReview/UserReviews.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/HomePage.less
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ProductPage.less
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/pages/ShoppingCartPage.js
  ecommerce/frontend/src/components/pages/ShoppingCartPage.less
  ecommerce/frontend/src/components/product/ProductExtra.js
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/utils.js
Labels: effort: medium, priority: medium, status: in progress, type: front-end

#338 [BACKEND] Refactoring and commenting the Shopping Cart endpoint
  ecommerce/backend/API/serializers/shopping_cart_serializer.py
  ecommerce/backend/API/tests/test_shopping_cart_item.py
  ecommerce/backend/API/views/shopping_cart.py
Labels: documentation, effort: medium, priority: medium, status: in progress, type: back-end, type: enhancement, who: individual

#341 [ANDROID] Orders Info Page
  ecommerce/android/Getflix/.idea/dictionaries/handesirikci.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderInfoFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/OrderViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_moped_24.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_order_info.xml
  ecommerce/android/Getflix/app/src/main/res/layout/item_my_order.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#342 [B] Vendor filtering for product search
  ecommerce/backend/API/views/search.py
Labels: effort: low, priority: high, status: completed, status: needs review, type: back-end, type: bug

#343 [ANDROID] Vendor Home Page
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorHomeBrandsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorHomeProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorHomeFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorHomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_home.xml
  ecommerce/android/Getflix/app/src/main/res/layout/vendor_brand.xml
  ecommerce/android/Getflix/app/src/main/res/layout/vendor_product.xml
Labels: effort: high, priority: high, type: android

#345 [ANDROID] Review Section
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductReviewListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ReviewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CommentAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/card_comment.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/layout/subproduct_layout.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
Labels: bug, effort: medium, priority: high, type: android, type: bug, type: enhancement

#349 [ANDROID] Update Product for Vendor
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ProSearchByVendorRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/VendorProUpdateRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/ProSearchByVendorResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/VendorProUpdateResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorHomeProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/UpdateProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorHomeFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorHomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_update_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_profile.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: medium, priority: high, type: android

#322 [FRONTEND] Refactoring, bug fixing
  ecommerce/frontend/src/components/profile/ProfileContent.js
Labels: bug, design, effort: medium, priority: critical, status: in progress, type: front-end

#351 [FRONTEND] Refactoring
  ecommerce/frontend/src/components/HeaderLabel.js
  ecommerce/frontend/src/components/HeaderLabel.less
  ecommerce/frontend/src/components/HorizontalProductList.js
  ecommerce/frontend/src/components/IsVerifiedNotification.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/order/Order.js
  ecommerce/frontend/src/components/order/Order.less
  ecommerce/frontend/src/components/order/OrdersList.js
  ecommerce/frontend/src/components/order/OrdersList.less
  ecommerce/frontend/src/components/order/Purchase.js
  ecommerce/frontend/src/components/order/Purchase.less
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/LoginPage.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/pages/SearchPage.less
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/components/profile/ProfileContent.js
  ecommerce/frontend/src/components/profile/ProfileContent.less
Labels: bug, effort: medium, priority: critical, type: front-end
