Repository bounswe/bounswe2020group2, pull requests merged in 2020-11, with the labels that each got.

#125 Initialize frontend subrepo
  ecommerce/frontend/.dockerignore
  ecommerce/frontend/.env.development
  ecommerce/frontend/.env.production
  ecommerce/frontend/.gitignore
  ecommerce/frontend/.prettierrc
  ecommerce/frontend/Dockerfile
  ecommerce/frontend/README.md
  ecommerce/frontend/craco.config.js
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/public/favicon.ico
  ecommerce/frontend/public/index.html
  ecommerce/frontend/public/logo192.png
  ecommerce/frontend/public/logo512.png
  ecommerce/frontend/public/manifest.json
  ecommerce/frontend/public/robots.txt
  ecommerce/frontend/src/App.js
  ecommerce/frontend/src/App.less
  ecommerce/frontend/src/App.test.js
  ecommerce/frontend/src/config.js
  ecommerce/frontend/src/index.css
  ecommerce/frontend/src/index.js
  ecommerce/frontend/src/logo.svg
  ecommerce/frontend/src/reportWebVitals.js
  ecommerce/frontend/src/setupTests.js
Labels: effort: high, priority: high, type: front-end

#129 initializing backend repository
  .gitignore
  ecommerce/backend/.gitignore
  ecommerce/backend/API/__init__.py
  ecommerce/backend/API/admin.py
  ecommerce/backend/API/apps.py
  ecommerce/backend/API/migrations/0001_initial.py
  ecommerce/backend/API/migrations/__init__.py
  ecommerce/backend/API/models.py
  ecommerce/backend/API/serializers.py
  ecommerce/backend/API/tests.py
  ecommerce/backend/API/views.py
  ecommerce/backend/db.sqlite3
  ecommerce/backend/getflix/__init__.py
  ecommerce/backend/getflix/asgi.py
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
  ecommerce/backend/getflix/wsgi.py
  ecommerce/backend/manage.py
  ecommerce/backend/requirements.txt
Labels: effort: medium, priority: high, type: back-end

#136 [FRONTEND] Initial layout, global state management, routing, and a few more
  ecommerce/frontend/craco.config.js
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/public/favicon.ico
  ecommerce/frontend/public/logo192.png
  ecommerce/frontend/public/logo512.png
  ecommerce/frontend/src/App.js
  ecommerce/frontend/src/App.less
  ecommerce/frontend/src/assets/logo.png
  ecommerce/frontend/src/common.less
  ecommerce/frontend/src/components/CategoryBar.js
  ecommerce/frontend/src/components/CategoryBar.less
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Footer.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/layout/MainLayout.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/HomePage.less
  ecommerce/frontend/src/components/pages/LoginPage.js
  ecommerce/frontend/src/components/pages/SignupPage.js
  ecommerce/frontend/src/context/AppContext.js
Labels: design, effort: high, priority: critical, type: front-end

#133 [ANDROID] Implement home page and SplashScreenActivity
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_cosmetics.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_dog_food.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_electronics.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_fashion.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_furniture.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_man.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_movie.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_music.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_tennis_racket.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_toys.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/main_background.gif
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_splash_screen.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_home_page.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: high, type: android

#143 [FRONTEND] Add Search Input component
  ecommerce/frontend/src/components/SearchInput.js
  ecommerce/frontend/src/components/SearchInput.less
Labels: design, effort: medium, priority: medium, type: front-end

#140 [BACKEND] DB models created, Authentication and Permission mechanism added
  ecommerce/backend/.gitignore
  ecommerce/backend/API/migrations/0001_initial.py
  ecommerce/backend/API/migrations/0002_user_is_verified.py
  ecommerce/backend/API/migrations/0003_user_role.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/interactions.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/models/purchase.py
  ecommerce/backend/API/models/user.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/account_serializer.py
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/authentication.py
  ecommerce/backend/API/utils/crypto.py
  ecommerce/backend/API/utils/jwttoken.py
  ecommerce/backend/API/utils/permissions.py
  ecommerce/backend/API/utils/roles.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/README.md
  ecommerce/backend/db.sqlite3
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
  ecommerce/backend/requirements.txt
Labels: effort: low, priority: high, type: back-end

#141 [ANDROID] Implement categories page
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/model/CategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/model/SubcategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapter/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_arrow_forward.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_categories.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_category.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values/colors.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: high, type: android

#155 [ANDROID] Implement Custom Toolbar
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_btn_notification.xml
  ecommerce/android/Getflix/app/src/main/res/font/shadows_into_light_two.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/values/font_certs.xml
  ecommerce/android/Getflix/app/src/main/res/values/preloaded_fonts.xml
Labels: effort: medium, priority: medium, type: android

#137 [FRONTEND] Add the signup form component
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/SignUpForm.js
  ecommerce/frontend/src/components/TermsAndConditions.js
  ecommerce/frontend/src/index.js
Labels: effort: high, priority: medium, type: front-end

#154 [ANDROID] Implementing Favorites Page
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/model/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapter/FavoritesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_examplepro.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/menu_cart.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/menu_favorite.xml
  ecommerce/android/Getflix/app/src/main/res/layout/favproduct_layout.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_favorites.xml
  ecommerce/android/Getflix/app/src/main/res/menu/nav_menu.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: high, type: android

#161 company colors added
  ecommerce/android/Getflix/app/src/main/res/values/colors.xml
Labels: design, effort: low, type: android

#162 [FRONTEND] Fix footer not sticking at the bottom
  ecommerce/frontend/src/App.less
  ecommerce/frontend/src/components/LoginForm.js
  ecommerce/frontend/src/components/SignUpForm.js
  ecommerce/frontend/src/components/TermsAndConditions.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/LoginPage.js
Labels: bug, priority: low

#171 [ANDROID] Implement the layout for products
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SubcategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ProductAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/viewmodels/CategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/back.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_shopping_cart.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_yellow_heart.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_jacket1.png
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_jacket2.png
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_jacket3.png
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_skirt1.png
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_skirt2.png
  ecommerce/android/Getflix/app/src/main/res/drawable/zara_skirt3.png
  ecommerce/android/Getflix/app/src/main/res/font/open_sans_semibold.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_category.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_home_page.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values/preloaded_fonts.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: medium, type: android

#168 [FRONTEND] Logged in user's info in top bar
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/context/AppContext.js
Labels: effort: low, priority: medium, type: front-end

#163 [FRONTEND] Add search product page
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/App.less
  ecommerce/frontend/src/components/SearchInput.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/pages/SearchPage.less
  ecommerce/frontend/src/components/search/SearchResults.js
  ecommerce/frontend/src/components/search/SearchResults.less
  ecommerce/frontend/src/components/search/SearchSidePanel.js
  ecommerce/frontend/src/components/search/SearchSidePanel.less
  ecommerce/frontend/src/utils.js
Labels: design, effort: high, priority: high, type: front-end

#150 [ANDROID] Login page
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/search.png
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: medium, type: android

#166 [ANDROID] Profile page
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/buttonstyle.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/gradientbackground.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_face_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_mail_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_phone_24.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_profile.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: high, type: android

#176 [FRONTEND] Product card bugs
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  package-lock.json
Labels: bug, effort: medium, type: front-end

#177 [ANDROID] Register Page Implementation & Toolbar bug fixed
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/register_gradient.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_cart.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_categories.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_favorites.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_home_page.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_profile.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_register.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: critical, type: android

#181 [ANDROID] Create the login page and configure Google Sign In
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/back.xml
  ecommerce/android/Getflix/app/src/main/res/font/pacifico.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_register.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/preloaded_fonts.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#182 [ANDROID] Creating necessary viewmodels
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CartAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/FavoritesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CartViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/FavoritesViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_cart.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_categories.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_favorites.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
Labels: effort: medium, priority: medium, type: android

#180 [BACKEND] Login and Init endpoints
  ecommerce/backend/API/serializers/account_serializer.py
  ecommerce/backend/API/tests.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/account_test.py
  ecommerce/backend/API/utils/permissions.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: high, type: back-end

#172 [FRONTEND] Added dropdown subcategory lists to categoryBar
  ecommerce/frontend/src/components/CategoryBar.js
  ecommerce/frontend/src/components/pages/HomePage.js
Labels: effort: medium, type: front-end

#185 [FRONTEND] Axios instance, token management, login logout templates
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/src/App.js
  ecommerce/frontend/src/api.js
  ecommerce/frontend/src/config.js
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/index.js
Labels: effort: medium, priority: critical, type: front-end

#186 [ANDROID] Minor navigation issues & Guest Button
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragment/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_cart.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_categories.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_favorites.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_home_page.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_profile.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_register.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: medium, priority: medium, type: android

#189 [FRONTEND] Homepage design improvements
  ecommerce/frontend/.env.development
  ecommerce/frontend/public/index.html
  ecommerce/frontend/src/components/TrendingGrid.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/HomePage.less
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/search/SearchInputWrapper.js
  ecommerce/frontend/src/components/search/SearchResults.js
  ecommerce/frontend/src/utils.js
Labels: design, effort: medium, priority: medium, type: front-end

#191 [BACKEND] Fix dockerfile, db params from env
  ecommerce/backend/Dockerfile
  ecommerce/backend/README.md
  ecommerce/backend/docker-compose.yml
  ecommerce/backend/docker_entrypoint.sh
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/requirements.txt
  ecommerce/backend/run-docker.sh
  ecommerce/frontend/src/components/pages/SignupPage.js
Labels: bug, effort: medium, help wanted, priority: critical, type: back-end, type: enhancement, who: group

#192 [BACKEND] register endpoint and cors policy
  ecommerce/backend/API/tests/account_test.py
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/permissions.py
  ecommerce/backend/API/utils/validators.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/docker_entrypoint.sh
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
  ecommerce/backend/requirements.txt
Labels: priority: critical, type: back-end

#193 [BACKEND] Cors Policy Settings Update
  ecommerce/backend/getflix/settings.py
Labels: type: back-end

#194 [ANDROID] Products Endpoint
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/PModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/SubcategoryModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/DefaultResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/LoginAPI.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/services/ProductsAPI.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ProductAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoriesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/card_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_category.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_home_page.xml
  ecommerce/backend/getflix/settings.py
Labels: effort: high, priority: critical, type: android

#190 [Frontend] Make signup page work with backend
  ecommerce/frontend/src/components/SignUpForm.js
  ecommerce/frontend/src/components/pages/SignupPage.js
  ecommerce/frontend/src/components/pages/SignupPage.less
Labels: effort: medium, type: front-end

#195 [FRONTEND] F product page
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ProductPage.less
Labels: design, effort: low, priority: low, status: needs review

#196 [FRONTEND] Deploy pipeline
  .github/workflows/deploy-frontend.yml
  .gitignore
  ecommerce/frontend/.env.production
  ecommerce/frontend/Dockerfile
  ecommerce/frontend/nginx.conf
  ecommerce/frontend/src/components/pages/SignupPage.js
  ecommerce/frontend/src/config.js
  secrets/CMPE451.pem.gpg
  secrets/slack_webhook.txt.gpg
Labels: effort: high, priority: critical, type: front-end

#200 [BACKEND] Shopping cart and url fix
  ecommerce/backend/API/migrations/0005_auto_20201123_2128.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/views/shopping_cart.py
  ecommerce/backend/getflix/settings.py
  ecommerce/backend/getflix/urls.py
  ecommerce/backend/requirements.txt
Labels: priority: critical

#203 [BACKEND] Debug mode fix
  .github/workflows/deploy-backend.yml
  ecommerce/backend/getflix/settings.py
Labels: priority: critical

#170 [FRONTEND] Shopping cart page master component added.
  ecommerce/backend/API/views/shopping_cart.py
  ecommerce/frontend/.prettierrc
  ecommerce/frontend/README.md
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/App.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.less
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItems.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartPage.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartPage.less
  ecommerce/frontend/src/components/SignUpForm.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/SearchPage.js
  ecommerce/frontend/src/components/pages/SignupPage.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/components/search/SearchResults.less
  ecommerce/frontend/src/config.js
  ecommerce/frontend/src/context/AppContext.js
Labels: design, effort: medium, priority: medium, type: front-end

#204 [FRONTEND] Quick fixes
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartPage.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/pages/ProductPage.less
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/config.js
Labels: bug, effort: medium, priority: critical
