Repository bounswe/bounswe2020group2, pull requests merged in 2021-01, with the labels that each got.

#354 refactor deploy-backend.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Labels: effort: medium, priority: critical, who: group

#360 [BACKEND] Implement Direct-Messaging System
  .DS_Store
  ecommerce/backend/API/migrations/0020_conversation_message.py
  ecommerce/backend/API/migrations/0021_auto_20210109_1933.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/interactions.py
  ecommerce/backend/API/serializers/message_serializer.py
  ecommerce/backend/API/tests/test_message.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/message.py
  ecommerce/backend/getflix/urls.py
Labels: effort: high, priority: high, status: in progress, type: back-end, who: individual

#363 [ANDROID] Filter, Sort and Search Functionalities
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ProSearchByQueryRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ProSearchBySubcategoryRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ProSearchSortRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/CategoriesAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FilterOptionsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/SubcategoryFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/SubCategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/custom_input.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_arrow_back.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_search.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_filter_options.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_subcategory.xml
  ecommerce/android/Getflix/app/src/main/res/layout/subproduct_layout.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: high, status: needs review, type: android

#365 [ANDROID] List Page
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/FavoritesFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/FavoritesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ListViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/accepted_list.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_format_list_bulleted_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/list_black.xml
  ecommerce/android/Getflix/app/src/main/res/layout/favproduct_layout.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_lists.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_item_layout.xml
  ecommerce/android/Getflix/app/src/main/res/menu/nav_menu.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#369 [BACKEND] Added security check to Direct Messaging System
  ecommerce/backend/API/views/message.py
  ecommerce/backend/README.md
  ecommerce/backend/dump.sql
  ecommerce/backend/m2_backup_dump.sql
Labels: bug, effort: medium, priority: high, status: completed, type: back-end, who: individual

#372 [ANDROID] Notification Page
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/NotificationModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/NotificationAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/HomePageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/NotificationFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/NotificationViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_notification.xml
  ecommerce/android/Getflix/app/src/main/res/layout/notification_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#380 [B] Migrating vendor fields
  ecommerce/backend/API/migrations/0020_auto_20210115_2041.py
  ecommerce/backend/API/models/user.py
Labels: effort: low

#385 [ANDROID] Empty Address & Credit Cart & Shopping Cart Bug
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/AddressListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/AddressModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CardListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/CartProductListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CompleteOrderFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/AddressViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CartViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoriesViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CompleteOrderViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CreditCardViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_complete_order.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: bug, effort: medium, priority: high, type: android, type: bug

#378 [FRONTEND] Messaging system
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/messages/Conversation.js
  ecommerce/frontend/src/components/messages/Conversation.less
  ecommerce/frontend/src/components/messages/ConversationList.js
  ecommerce/frontend/src/components/messages/ConversationList.less
  ecommerce/frontend/src/components/messages/Conversations.js
  ecommerce/frontend/src/components/messages/Conversations.less
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/context/ChatContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
Labels: design, effort: high, priority: high, type: front-end

#389 [BACKEND] Order Status Notifications and get notifications endpoint
  ecommerce/backend/API/migrations/0022_notification.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/interactions.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/notification_serializer.py
  ecommerce/backend/API/utils/__init__.py
  ecommerce/backend/API/utils/notification_manager.py
  ecommerce/backend/API/utils/notification_types.py
  ecommerce/backend/API/utils/order_status.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/notification.py
  ecommerce/backend/API/views/order.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: medium, status: needs review, type: back-end, who: individual

#402 [BACKEND] B-create-product-list
  ecommerce/backend/API/migrations/0023_merge_20210119_1812.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_product_list.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/product_list.py
  ecommerce/backend/getflix/urls.py
Labels: effort: low, priority: medium, type: back-end

#404 [BACKEND] B-get-product-list
  ecommerce/backend/API/migrations/0024_remove_productlistitem_name.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/product_list_serializer.py
  ecommerce/backend/API/tests/test_product_list.py
  ecommerce/backend/API/views/product_list.py
Labels: effort: medium, priority: medium, type: back-end

#390 [B] Adding Vendor Details Endpoint
  ecommerce/backend/API/migrations/0022_merge_20210117_0012.py
  ecommerce/backend/API/tests/test_vendor.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/vendor.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium

#409 [BACKEND] B-add-product-to-list
  ecommerce/backend/API/tests/test_product_list.py
  ecommerce/backend/API/views/product_list.py
  ecommerce/backend/getflix/urls.py
Labels: effort: low, priority: medium, type: back-end

#410 [BACKEND] B-delete-product-from-list
  ecommerce/backend/API/tests/test_product_list.py
  ecommerce/backend/API/views/product_list.py
Labels: effort: low, priority: medium, type: back-end

#418 [BACKEND] Implementing the Send Message Functionality
  ecommerce/backend/API/migrations/0027_conversation_message.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/interactions.py
  ecommerce/backend/API/serializers/__init__.py
  ecommerce/backend/API/serializers/message_serializer.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_message.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/message.py
  ecommerce/backend/getflix/urls.py
Labels: effort: high, priority: high, status: needs review, type: back-end, who: individual

#417 [BACKEND] Implementing Password Change Endpoint
  ecommerce/backend/API/tests/test_account.py
  ecommerce/backend/API/views/account.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: high, status: needs review, type: back-end, who: individual

#414 [ANDROID] List Dialogs, Guest Options Refactor and Empty List Pages Design
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddressFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/BankAccountFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorHomeFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorPageFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/AddressViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CategoryViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_credit_card_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_home_24_gold.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_pencil.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_shopping_bag_gold.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/custom_dialog.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_lists.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/simple_spinner_dropdown_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: medium, priority: high, type: android

#427 [FRONTEND] Vendor orders
  ecommerce/frontend/src/components/MessageModalInner.js
  ecommerce/frontend/src/components/MessageModalInner.less
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/order/OrdersList.js
  ecommerce/frontend/src/components/order/Purchase.js
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/context/ChatContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
Labels: bug, design, effort: high, priority: high, type: front-end

#422 [BACKEND] Implementing the Get Conversations Functionality
  ecommerce/backend/API/serializers/message_serializer.py
  ecommerce/backend/API/tests/test_message.py
  ecommerce/backend/API/views/message.py
Labels: effort: high, priority: high, status: needs review, type: back-end, who: individual

#425 [ANDROID] Vendor Orders & Vendor Order Page
  ecommerce/android/Getflix/.gitignore
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/VendorOrderModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/VendorOrderStatusRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/VendorOrderResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorOrderAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorOrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorOrderFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorOrdersFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorOrderViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorOrdersViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_down_arrow.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_person_pin_circle_24px.xml
  ecommerce/android/Getflix/app/src/main/res/layout/card_vendor_order.xml
  ecommerce/android/Getflix/app/src/main/res/layout/custom_spinner_dropdown_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_order.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_orders.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/dimens.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/colors.xml
  ecommerce/android/Getflix/app/src/main/res/values/dimens.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: design, effort: high, priority: critical, type: android

#423 [Backend] recommendation
  ecommerce/backend/API/migrations/0022_merge_20210117_1549.py
  ecommerce/backend/API/migrations/0025_merge_20210122_1232.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_recommendation.py
  ecommerce/backend/API/views/__init__.py
  ecommerce/backend/API/views/recommendation.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, priority: high, type: back-end

#426 [BACKEND] Price Change Notifications
  ecommerce/backend/API/migrations/0023_merge_20210121_1149.py
  ecommerce/backend/API/migrations/0024_auto_20210121_1247.py
  ecommerce/backend/API/migrations/0028_merge_20210122_1923.py
  ecommerce/backend/API/migrations/0029_merge_20210123_1306.py
  ecommerce/backend/API/models/user.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_notification.py
  ecommerce/backend/API/tests/test_order.py
  ecommerce/backend/API/tests/test_vendor_product.py
  ecommerce/backend/API/utils/notification_manager.py
  ecommerce/backend/API/views/product.py
Labels: priority: medium, status: needs review, type: back-end

#433 [BACKEND] Add a nonexisting brand when adding product
  ecommerce/backend/API/tests/test_vendor_product.py
  ecommerce/backend/API/utils/validators.py
  ecommerce/backend/API/views/product.py
Labels: effort: medium, status: needs review, type: back-end

#373 [ANDROID] List Products Page
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ListProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListProductsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ListProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/button_circle2.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_list_products.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/menu/nav_menu.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android

#399 [FRONTEND] Add/Edit Product Modal
  ecommerce/android/Getflix/app/src/main/AndroidManifest.xml
  ecommerce/backend/API/views/product.py
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/components/product_modal/ProductModal.js
  ecommerce/frontend/src/components/product_modal/ProductModal.less
  ecommerce/frontend/src/components/product_modal/ProductModalInner.js
  ecommerce/frontend/src/components/product_modal/ProductModalInner.less
  ecommerce/frontend/src/mocks/mocks.js
Labels: effort: high, priority: high, type: front-end

#437 Edit product Add image bug fixed
  ecommerce/backend/API/views/product.py
Labels: bug, effort: low, priority: critical, type: back-end

#388 [FRONTEND] Refactor
  ecommerce/frontend/package-lock.json
  ecommerce/frontend/package.json
  ecommerce/frontend/src/assets/both.png
  ecommerce/frontend/src/components/EmailVerification.js
  ecommerce/frontend/src/components/IsVerifiedNotification.js
  ecommerce/frontend/src/components/ShoppingCart/ShoppingCartItem.js
  ecommerce/frontend/src/components/UpdateProfileForm.js
  ecommerce/frontend/src/components/UserReview/UserReviewPost.js
  ecommerce/frontend/src/components/addresslist/AddressList.js
  ecommerce/frontend/src/components/addresslist/AddressModal.js
  ecommerce/frontend/src/components/cardlist/CreditCardList.js
  ecommerce/frontend/src/components/cardlist/CreditCardModal.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Footer.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ShoppingCartPage.js
  ecommerce/frontend/src/components/product/ProductExtra.js
  ecommerce/frontend/src/components/product/ProductImageGallery.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/components/product_modal/ProductModalInner.js
  ecommerce/frontend/src/components/search/SearchResults.js
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/context/ChatContext.js
Labels: effort: medium, priority: medium, status: completed, type: front-end

#421 [ANDROID] Order Details
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderProductsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/OrderPurchasedViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/button_circle3.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_order_products.xml
  ecommerce/android/Getflix/app/src/main/res/layout/item_my_order.xml
  ecommerce/android/Getflix/app/src/main/res/layout/order_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: high, priority: critical, type: android, type: enhancement

#439 [BACKEND] notifications/seen endpoints
  ecommerce/backend/API/tests/test_notification.py
  ecommerce/backend/API/views/notification.py
  ecommerce/backend/getflix/urls.py
Labels: effort: medium, status: needs review, type: back-end

#445 [ANDROID] Product Lists, Notifications and Recommended Products Endpoints & Connections
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/Utils.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ArgumentModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ListModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ListsModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/NotificationModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/ProductModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/RecommendationModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/CreateListRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/AddProductToListResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/CreateListResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/DeleteProductInListResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/ListDeleteResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/SeenResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/NotificationAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrdersAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SwipeToDeleteList.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SwipeToDeleteListProduct.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListProductsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ListsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/NotificationFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ListProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ListViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/NotificationViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/buttonstyle.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_accepted.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_atcargo.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_baseline_add_24.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_box.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_check_black.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_check_white.xml
  ecommerce/android/Getflix/app/src/main/res/layout/activity_main.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_address.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_lists.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_notification.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_order_info.xml
  ecommerce/android/Getflix/app/src/main/res/layout/item_my_order.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/notification_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/order_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
Labels: effort: high, priority: high, type: android

#451 [FRONTEND] Hide Customer actions from Vendor interface
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
Labels: bug, effort: low, priority: high, type: front-end

#434 [FRONTEND] Recommendations
  ecommerce/frontend/src/components/Recommendations.js
  ecommerce/frontend/src/components/Recommendations.less
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/HomePage.less
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
Labels: effort: high, priority: high, status: needs review, type: front-end

#446 [BACKEND] Implementing the Semantic Search Functionality
  ecommerce/.DS_Store
  ecommerce/backend/.DS_Store
  ecommerce/backend/API/migrations/0030_productindex.py
  ecommerce/backend/API/models/__init__.py
  ecommerce/backend/API/models/product.py
  ecommerce/backend/API/tests/__init__.py
  ecommerce/backend/API/tests/test_search.py
  ecommerce/backend/API/utils/semantic_search.py
  ecommerce/backend/API/views/product.py
  ecommerce/backend/API/views/search.py
  ecommerce/backend/stopwords.txt
Labels: effort: high, priority: critical, status: needs review, type: back-end, who: individual

#450 [FRONTEND] Product List
  ecommerce/frontend/src/components/ChooseListModalInner.js
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/order/Order.js
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_list/ProductList.js
  ecommerce/frontend/src/components/product_list/ProductList.less
  ecommerce/frontend/src/components/product_list/ProductListItem.js
  ecommerce/frontend/src/components/product_list/ProductListItem.less
  ecommerce/frontend/src/components/product_list/ProductLists.js
  ecommerce/frontend/src/components/product_list/ProductLists.less
  ecommerce/frontend/src/components/product_list_modal/ListModal.js
  ecommerce/frontend/src/components/product_list_modal/ListModalInner.js
  ecommerce/frontend/src/components/product_list_modal/ListModalInner.less
  ecommerce/frontend/src/context/ChatContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
Labels: effort: high, priority: critical, type: front-end

#456 username added to user serializer
  ecommerce/backend/API/serializers/account_serializer.py
Labels: effort: low, priority: high, type: back-end

#458 [BACKEND] Fixing user_id and vendor_id confusion
  ecommerce/backend/API/serializers/product_serializer.py
  ecommerce/backend/API/tests/test_notification.py
  ecommerce/backend/API/tests/test_vendor_product.py
  ecommerce/backend/API/views/checkout.py
  ecommerce/backend/API/views/product.py
  ecommerce/backend/API/views/search.py
  ecommerce/backend/API/views/vendor.py
Labels: effort: medium, priority: critical, status: in progress, type: back-end, who: individual

#460 [BACKEND] Fix Review vendor_id Bug
  ecommerce/backend/API/tests/test_review.py
  ecommerce/backend/API/utils/review_permissions.py
  ecommerce/backend/API/views/review.py
Labels: bug, effort: low, priority: high, status: needs review, type: back-end

#395 [FRONTEND] Vendor page
  ecommerce/backend/API/views/product.py
  ecommerce/frontend/src/components/HorizontalProductList.js
  ecommerce/frontend/src/components/HorizontalProductList.less
  ecommerce/frontend/src/components/IsVerifiedNotification.js
  ecommerce/frontend/src/components/VendorContent/VendorPageContent.js
  ecommerce/frontend/src/components/VendorContent/VendorPageContent.less
  ecommerce/frontend/src/components/VendorContent/VendorReview.js
  ecommerce/frontend/src/components/VendorContent/VendorReview.less
  ecommerce/frontend/src/components/VendorContent/VendorReviews.js
  ecommerce/frontend/src/components/VendorContent/VendorReviews.less
  ecommerce/frontend/src/components/VendorContent/VendorSplash.js
  ecommerce/frontend/src/components/VendorContent/VendorSplash.less
  ecommerce/frontend/src/components/layout/Content.js
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/layout/Layout_common.less
  ecommerce/frontend/src/components/pages/VendorHomepage.js
  ecommerce/frontend/src/components/pages/VendorHomepage.less
  ecommerce/frontend/src/components/product/ProductHeader.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/context/AppContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
  ecommerce/frontend/src/utils.js
  package-lock.json
Labels: design, effort: high, priority: critical, status: needs review, type: front-end

#401 [ANDROID] Register Form Update
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_register.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
Labels: effort: medium, priority: critical, status: completed, type: android, type: enhancement

#464 [BACKEND] get SECRET_KEY from env
  ecommerce/backend/getflix/settings.py
Labels: bug, effort: low, priority: critical, type: back-end

#463 [BACKEND] Product Delete Fix
  ecommerce/backend/API/tests/test_vendor_product.py
  ecommerce/backend/API/views/product.py
  ecommerce/backend/getflix/urls.py
Labels: bug, effort: medium, status: needs review, type: back-end

#461 [B] Vendor Profile Implemented
  ecommerce/backend/API/tests/test_vendor.py
  ecommerce/backend/API/views/vendor.py
  ecommerce/backend/getflix/urls.py
Labels: effort: high

#465 [ANDROID] Empty Shopping Cart & Recommended Products in Home Bug
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/CartFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/HomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
Labels: bug, effort: low, priority: critical, type: android, type: bug

#429 [FRONTEND] Notifications
  ecommerce/frontend/src/components/Notifications.js
  ecommerce/frontend/src/components/Notifications.less
  ecommerce/frontend/src/components/layout/Header.js
  ecommerce/frontend/src/components/pages/ProfilePage.js
  ecommerce/frontend/src/context/ChatContext.js
  ecommerce/frontend/src/mocks/handlers.js
  ecommerce/frontend/src/mocks/mocks.js
Labels: design, effort: high, priority: medium, type: front-end

#472 [ANDROID] Review
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ReviewRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/AddReviewResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/HomeRecommenderAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/RecommenderAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/SubcategoryAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/OrderProductsFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/OrderPurchasedViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/layout/comment_dialog.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: medium, priority: high, type: android

#462 [ANDROID] Mail Verification
  ecommerce/android/Getflix/app/build.gradle
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/ForgotPasswordRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/ListProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/LoginFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/MailVerificationFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/RegisterFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/CreditCardViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/LoginViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/MailVerificationViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/RegisterViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_mail_box.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_login.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_mail_verification.xml
  ecommerce/android/Getflix/app/src/main/res/layout/list_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
  ecommerce/android/Getflix/app/src/main/res/values-en/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/strings.xml
  ecommerce/android/Getflix/app/src/main/res/values/styles.xml
Labels: effort: high, priority: medium, type: android

#474 [FRONTEND] Refactor
  ecommerce/frontend/src/components/Notifications.js
  ecommerce/frontend/src/components/UserReview/UserReviews.js
  ecommerce/frontend/src/components/order/Order.js
  ecommerce/frontend/src/components/order/OrdersList.js
  ecommerce/frontend/src/components/order/Purchase.js
  ecommerce/frontend/src/components/pages/CheckoutPage.js
  ecommerce/frontend/src/components/pages/HomePage.js
  ecommerce/frontend/src/components/pages/ProductPage.js
  ecommerce/frontend/src/components/pages/ShoppingCartPage.js
  ecommerce/frontend/src/components/pages/VendorHomepage.js
  ecommerce/frontend/src/components/product/ProductExtra.js
  ecommerce/frontend/src/components/product_card/ProductCard.js
  ecommerce/frontend/src/components/product_card/ProductCard.less
  ecommerce/frontend/src/components/product_list/ProductListItem.js
  ecommerce/frontend/src/components/product_modal/ProductModal.js
  ecommerce/frontend/src/context/ChatContext.js
  ecommerce/frontend/src/utils.js
Labels: effort: high, priority: critical, type: front-end

#475 [ANDROID] Vendor Add/Delete Product & Refactoring
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/activities/MainActivity.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/OrderPurchasedModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/models/VendorOrderModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/GetflixApiService.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/AddProductRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/requests/VendorProUpdateRequest.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/AddProductResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/service/responses/DeleteProductResponse.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/NotificationAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/OrderProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/adapters/VendorHomeProductsAdapter.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/AddProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/ProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/UpdateProductFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorHomeFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorOrdersFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/fragments/VendorProfileFragment.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/ProductViewModel.kt
  ecommerce/android/Getflix/app/src/main/java/com/example/getflix/ui/viewmodels/VendorHomeViewModel.kt
  ecommerce/android/Getflix/app/src/main/res/drawable/border_img.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_delete_pro.xml
  ecommerce/android/Getflix/app/src/main/res/drawable/ic_plus_image.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_add_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_bank_account.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_product.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_home.xml
  ecommerce/android/Getflix/app/src/main/res/layout/fragment_vendor_profile.xml
  ecommerce/android/Getflix/app/src/main/res/layout/order_product_item.xml
  ecommerce/android/Getflix/app/src/main/res/layout/vendor_product.xml
  ecommerce/android/Getflix/app/src/main/res/navigation/nav_graph.xml
Labels: effort: high, priority: critical, type: android
